html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.des-only {
  display: none;
}

header {
  padding: 10px 10px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
}

.mobile-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 900;
  background: #191765;
  transition: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.mobile-navigation .close-btn {
  align-self: flex-end;
  color: yellow;
}

.mobile-navigation a {
  color: yellow;
  font-size: 40px;
  text-decoration: none;
  font-weight: 650;
  padding: 30px 10px;
}

.open-mob-navigation {
  width: 250px;
}

.headline {
  background: url(../images/bg-img/bg-image-headline.jpg) no-repeat;
  background-size: cover;
}

.headline .transparent-layer {
  padding: 100px 10px 80px 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
  background: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.8) 20%, rgba(255, 255, 255, 0.905) 70%);
}

.headline .hero-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
  background-color: rgba(184, 49, 49, 0);
  overflow: hidden;
}

.headline > * {
  position: relative;
  z-index: 2;
}

.headline .cover {
  background: url(../images/bg-img/bg-image-headline.jpg) no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: block;
  background-position: center -450px;
}

.headline .hero-quote {
  font-size: 30px;
  color: #ec5242;
}

.headline-description {
  border: 3px solid white;
  background: #f0f0f0;
  padding: 10px;
  color: #575b66;
  max-width: 540px;
  font-size: 10px;
  font-weight: 800;
  line-height: 20px;
}

.headline .time {
  font-size: 30px;
  font-weight: 900;
  color: #272a31;
}

.headline .venue {
  font-size: 30px;
  font-weight: 500;
  color: #272a31;
}

.main-program {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  padding: 40px 20px;
  background: url(../images/bg-img/bg-image-program.png) repeat;
  justify-items: center;
}

.main-program h2 {
  color: white;
  font-size: 20px;
  text-align: center;
}

.red-line {
  height: 2px;
  width: 50px;
  background: #ec5242;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-program .main-program-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-gap: 10px;
}

.main-program-content .details {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  grid-gap: 2px;
  padding: 10px 20px;
  align-items: center;
  color: white;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.1);
}

.main-footer img {
  width: 100px;
  max-width: 200px;
}

.main-program-content .details img {
  width: 100%;
  height: 100%;
}

.main-program-content .details h3 {
  color: #ec5242;
  padding-left: 10px;
}

.main-program-content .details p {
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.main-program button {
  margin-top: 35px;
  padding: 20px 30px;
  color: white;
  font-weight: 600;
  background: #ec5242;
  border: none;
}

.players-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  justify-items: center;
  padding: 40px 10px;
}

.players {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px;
}

.players .player {
  display: grid;
  grid-template-columns: 115px 1fr;
  grid-template-rows: 120px;
  grid-gap: 10px;
}

.players .player .com-img-container {
  background: url(../images/comidians-img/bg-for-images.jpg) 5% 10% no-repeat;
  background-size: 70px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: end;
  align-items: end;
}
.logo-container img{
  height: 70px;
  width: 100px;
  padding-top: 2px;
}

.players .player .com-img-container img {
  width: 100px;
}

.players .player h3 {
  font-size: 16px;
  color: #272a31;
}

.players .player h4 {
  font-style: italic;
  color: #ec5242;
  font-size: 500px;
  font-size: 12px;
  padding-bottom: 10px;
}

.players .player p {
  padding-top: 10px;
  color: #272a31;
  font-size: 500px;
  font-size: 12px;
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grey-line {
  height: 2px;
  width: 30px;
  background: rgb(213, 213, 213);
}

.players-container button {
  margin-top: 35px;
  padding: 10px 0;
  justify-self: stretch;
  color: #575b66;
  background: white;
  border: 1px solid #d3d3d3;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
}

.players-container .hidden {
  display: none;
}

.players-container .open {
  display: grid;
}

#btnTxtLess {
  display: none;
  justify-content: center;
  align-items: center;
}

.main-footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
}

.footer-head {
  display: flex;
  flex-direction: column;
  background: #272a31;
  padding: 30px 0;
  color: #fff;
}

.footer-head h2,
.red-line {
  align-self: center;
}

.footer-head h2 {
  font-size: 20px;
}

.footer-head li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
}

.footer-head ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-footer .copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #575b66;
}

@media (min-width: 768px) {
  h2 {
    font-size: 30px;
  }

  .mob-only {
    display: none;
  }

  .des-only {
    display: block;
  }

  header {
    padding: 0;
  }

  .main-navigation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    box-shadow: 0 1px 10px -8px #0c0c0b;
  }

  .main-navigation .top-nav-part {
    display: block;
  }

  .main-navigation .top-nav-part ul {
    padding: 10px 200px;
    list-style: none;
    background: #575b66;
    display: flex;
    justify-content: flex-end;
  }

  .main-navigation .main-nav-part a {
    text-decoration: none;
    color: #575b66;
    font-weight: 600;
  }

  .main-navigation .cc-compaign a {
    color: #ec5242;
    padding: 15px 20px;
    border: 5px solid #ec5242;
  }

  .main-navigation .top-nav-part ul a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: 0 10px;
  }

  .main-navigation .main-nav-part {
    display: grid;
    grid-template-columns: 1fr 2fr auto;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 0 200px;
    background: white;
  }

  .main-navigation .main-nav-part a:active {
    color: #ec5242;
  }

  .logo-container .log {
    color: #ec5242;
  }

  .main-navigation .main-nav-part ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    list-style: none;
    justify-items: center;
    align-items: center;
  }

  .headline {
    font-size: x-large;
  }

  .headline .transparent-layer {
    padding: 300px 0 200px 200px;
  }

  .headline .hero-text {
    font-weight: 900;
    font-size: 80px;
  }

  .headline .hero-quote {
    font-size: 35px;
    font-weight: 700;
    color: #ec5242;
  }

  .headline-description {
    font-size: 16px;
    line-height: 30px;
  }

  .main-program {
    padding: 70px 200px;
    justify-items: center;
    font-size: larger;
    grid-gap: 20px;
  }

  .main-program .main-program-content {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 2px;
  }

  .main-program-content .details {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 2fr;
    grid-gap: 2px;
    align-items: start;
    justify-items: center;
  }

  .main-program-content .details p {
    text-align: center;
  }

  .main-program button {
    background: transparent;
    color: white;
    text-decoration: underline;
    font-weight: lighter;
    font-size: 20px;
    text-transform: uppercase;
  }

  .players-container {
    grid-gap: 20px;
  }

  .players-container button {
    display: none;
  }

  .players-container .hidden {
    display: grid;
  }

  .players-container .players {
    grid-template-columns: 1fr 1fr;
    padding: 0 200px;
  }

  .main-footer .copyright {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 50px;
    padding: 20px 200px;
  }

  .main-footer .footer-logo {
    grid-row: 1 / -1;
    display: flex;
    align-items: center;
  }

  .main-footer .copyright p {
    grid-column: 2;
  }
}
